body
{
    background-image: url('http://www.top-line.fr/images/78777_tekstury_seryj_fon_oboi_2560x1600_(www.GdeFon.ru).jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

img
{
    width: 50px;
    height: 50px;
}

h1
{
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    border-bottom: 1px white solid;
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 60px;
    color: white;
    text-shadow: 3px 3px 3px black;

}

h2
{
    font-weight: bold;
    font-size: 40px;
    padding-left: 55px;
    text-align: start;
    margin-top: 50px;
    padding-bottom: 20px;
    border-left: 5px whitesmoke solid;
    text-shadow: 1px 1px 1px white;

}

button
{
    margin-left: 20%;
    margin-top: 20px;
}

button
{
    width: 305px !important;
}

.all-todo
{
    border-radius: 50px;
    margin-left: 80%;
}
/* 
@media all and (min-width: 612px){
    .all-todo {
        margin-right: 60%;
    }
} */
